<div class="h-full flex-cc">
  <div>
    <h1 class="text-center text-3xl mb-4">Login to your account</h1>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-2">
        <div>
          <input
            type="text"
            placeholder="username"
            formControlName="username"
            class="border-1 border-black p-2 w-[400px]"
          />
        </div>
        <div>
          <input
            type="password"
            placeholder="password"
            formControlName="password"
            class="border-1 border-black p-2 w-[400px]"
          />
        </div>
        <div *ngIf="formErrors.length > 0" class="bg-red-300 p-2 text-red-950">
          <p *ngFor="let error of formErrors">{{ error }}</p>
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
